[data-md-color-primary=indigo] .md-header, [data-md-color-primary=indigo] .md-hero {
    background-color: black;
}

@media only screen and (max-width: 76.1875em) {
    html [data-md-color-primary=indigo] .md-nav--primary .md-nav__title--site {
        background-color: black;
    }
}

@media only screen and (max-width: 59.9375em) {
    [data-md-color-primary=indigo] .md-nav__source {
        background-color: rgb(255, 46, 45);
    }
}

.md-typeset h1 {
    margin: 0 0 0;
}